<html>


<head>
  <title>Bosnian War</title>
  <link rel="icon" href="/img/favicon.png" type="image/x-icon">
  <link href="/css/main.css" rel="stylesheet"/>
  <style>

  #loader {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: .9;
  background-color: #fff;
  z-index: 99;
  text-align: center;
  }

  #loading-image {
position: absolute;
top: 40%;
left: 46%;
z-index: 600;
}
  </style>
</head>

<body onload="removeLoader()">

    <div id="loader">
      <img id="loading-image" src="/img/loader.gif"/>
      <h2> Loading ... </h2>
    </div>

     <div id="bosniaWarSlide" class="bg-img">
         <div id="bosniaWarCaption" class="caption">
           <h2 id="bw1" class="message">Bosnian War 1992-1995</h2>
         </div>
    </div>

    <div id="cemetrySlide" class="bg-img">
        <div id="cemetryCaption" class="caption">
          <h2 id="bw2" class="message">Serb forces perpetrated heinous crimes against bosnian muslims, killing 100,000 bosniaks and croats</h2>
        </div>
   </div>

   <div id="srebrenicaSlide" class="bg-img">
       <div id="srebrenicaCaption" class="caption">
         <h2 id="bw3" class="message">
           Srebrenica was betrayed, it was not just mass killing, it was ethnic cleansing of bosniaks and croats
         </h2>
       </div>
  </div>

  <div id="campSlide" class="bg-img">
      <div id="campCaption" class="caption">
        <h2 id="bw4" class="message">
          Men were kept in separate concentration camps, where they were tortured and then killed
        </h2>
      </div>
 </div>

  <div id="massGravesSlide" class="bg-img">
      <div id="massGravesCaption" class="caption">
        <h2 id="bw5" class="message">
          Killed people were dumped into mass graves
        </h2>
      </div>
 </div>

 <div id="rapeSlide" class="bg-img">
     <div id="rapeCaption" class="caption">
       <h2 id="bw6" class="message">
         Women were brutally raped in rape camps by chetnik and serbian forces
       </h2>
     </div>
</div>

<div id="rapeStorySlide" class="bg-img">
    <div id="rapeStoryCaption" class="caption">
      <img id="bw7" src="/img/rape-story.png">
    </div>
</div>

<div id="sarajevoSlide" class="bg-img">
    <div id="sarajevoCaption" class="caption">
      <h2 id="bw8" class="message">
        Sarajevo was besieged
      </h2>
    </div>
</div>

<div id="sniperSlide" class="bg-img">
    <div id="sniperCaption" class="caption">
      <h2 id="bw9" class="message">
        Snipers were placed to shoot civilians
      </h2>
    </div>
</div>

<div id="mostarSlide" class="bg-img">
    <div id="mostarCaption" class="caption">
      <h2 id="bw10" class="message">
        Everything was destroyed
      </h2>
    </div>
</div>

<div id="tuzlaSlide" class="bg-img">
    <div id="tuzlaCaption" class="caption">
      <h2 id="bw11" class="message">
        They had nowhere to go
      </h2>
    </div>
</div>

<div id="painSlide" class="bg-img">
    <div id="painCaption" class="caption">
      <h2 id="bw12" class="message">
        We can never understand, and they can never forget what was done to them
      </h2>
    </div>
</div>

<div id="warSlide" class="bg-img">
    <div id="warCaption" class="caption">
      <h2 id="bw13" class="message">
        The war is over but everyone have memories that will remain forever
      </h2>
    </div>
</div>


<script>
function removeLoader() {
   document.getElementById('loader').style.display='none';
}
</script>


</body>

</html>
